*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 10px;
  float: auto;
  display: block;
  margin: 0px;
  width: 100%;
}

.container {
  display: flex;
  margin: 20px auto;
  margin-left: -10 auto;
  margin-right: -8 auto;
  width: 90%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: column;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.preview {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  padding: 20px 25px;
}

.baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.london {
  background-image: url(../images/london.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.rome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  float: center;
  width: 90%;
  padding: auto;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

/* code added to create two-column design */
@media screen and (min-width: 100px){
   div {
    width: 100%;
  }
}


  /* code added to create four-column design */
@media screen and (min-width: 100px){
   div {
    width: 100%;
  }
}
